<!DOCTYPE html>
<html>
<head>
	<title>Last Signed User: <%=@lastSignedUser%></title>
</head>
<body>
	<h1>Jelou monsieur....</h1>
	<h2>SignUp Here!<h2>
	<h3>Registered users</h3>
	<form action="/singup" method="post">
		<input type="text" name="password" placeholder="User indentification (password)"/>
		<input type="text" name="shot" placeholder="Shout!"/>
		<input type="submit"/>
	</form><br>
	<h1>List of shouts:</h1>
	<% @sList.each do |shout| %>
	<ul>
		<p><%= shout[:message]%></p>
	</ul>
	<% end %>
</body>
</html>