<!DOCTYPE html>
<html>
<head>
	<title>Last Signed User: <%=@lastSignedUser%></title>
</head>
<body>
	<h1>Jelou monsieur....</h1>
	<h2>SignUp Here!<h2>
	<h3>Registered users</h3>
	<form action="/singup" method="post">
		<input type="text" name="name" value="Name"/>
		<input type="text" name="email" value="Email"/>
		<input type="submit"/>
	</form><br><br>
	<ul>
      <% @userCollection.each do |user| %>
        <li><b>User Name: </b> <%= user[:name] %> / <b>User Email: </b><%= user[:email] %></li>
      <% end %>
    </ul>
	<a href="/cat" target="self">See /Cats page... not too much imagination regarding the images.</a>
</body>
</html>