<h2>PROJECTS INFO</h2>
<h5>Created at <%=@project.created_at%></h5>
<h5>Last updated in <%=@project.updated_at%></h5>
<h3>Project Name: <%=@project.name%></h3>
<h4>Project Description: <%=@project.description%></h4>
