<!DOCTYPE html>
<html>
<head>
  <title>Timetracking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>
			<a href="/projects">Project Tracker Tool</a> 
		</h1>
	</header>
	<hr>
	<%= yield %>
	<hr>
	<footer>
		<h6>
			Unosoenelhorno's Copyright
		</h6>
	</footer>
</body>
</html>
