<!DOCTYPE html>
<html>
<head>
  <title>Timetracking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>
			<a href="/">Yo</a> Mama So Fat!
		</h1>
	</header>
	<hr>
	<%= yield %>
	<hr>
	<footer>
		<h1>
			And your father too!
		</h1>
	</footer>
</body>
</html>
