<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Shouter!</h1>
	<form action="/log_in" method="POST">
		<input type="text" name="handle" placeholder="User handle?"/>
		<input type="password" name="password" placeholder="User Password?"/>
		<input type="submit"/>
	</form><br>
</body>
</html>